# Android Studio / IntelliJ
*.iml
.idea/

.kotlin/
.vscode/

# Gradle
.gradle/
build/
*/build/

# Local config
local.properties

# Android build files
captures/
.externalNativeBuild/
.cxx/

# OS files
.DS_Store
Thumbs.db

# Agent / AI config
.agents/

# SQL file
sql_ddfood.sql

# Docs
docs/